/* REGOLE GENERALI CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightskyblue;
}


/* REGOLE CONTAINER */
.grid-container{
    width: 50%;
    margin: 0 auto;
    border: 5px solid #fff;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    display: none;
}


/* REGOLE BOX */

.box{
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    border: 5px solid #fff;
}


/* REGOLE ACTIVE BOX */

.box.active{
    background-color: lightsteelblue;
}


/* REGOLE BUTTON */
button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}